<div class="top">
    <div class="top-welcome">
        <h1>Moviesへようこそ！</h1>
        <p>Moviesでは、あなたが見た映画とその感想をシェアすることが出来ます。</p>
    </div>
    <div class="login-btn">
        <a href="/users/sign_up" class="btn btn-success active btn-lg">新規登録</a>
        <a href="/users/sign_in" class="btn btn-info active btn-lg">ログイン</a>
    </div>
</div>