// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-index{
    width:500px;
    margin:0 auto;
    font-size:20px;
    text-align:center;
}

.profile{
    position:relative; right:1550px;
}